@charset "UTF-8";

@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");

.acs-side-bar {
  background-color: rgb(240, 243, 242)
}

.plugin_pagetree_current {
    border-left: 2px solid rgb(29, 190, 137);
    padding-left: 10px; 
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main-content h1 {
    font-size: 1.9em;
    line-height: 1.7em;
    font-weight: 700;
    margin: 2em 0 15px 0;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-bottom: 1px solid #eee;
    color: #2e3138;
    font-style: none;
}

#main-content p, #main-content ul, #main-content ul li {
    line-height: 1.8em;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 400;
    color: rgb(46, 49, 56);
    font-family: "Helvetica Neue";
    padding-top: 10px;
}
